body, html {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    height: 100%;
}

.row {
    flex: 1;
    display: flex;
}

.col-2 {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 200px;  /* Adjust the width as needed */
    background-color: #f8f9fa;
    padding-top: 20px; /* Adjust padding */
    border-right: 1px solid #ddd; /* Optional: border for the sidebar */
}

.col-10 {
    margin-left: 200px; /* Adjust this based on the width of your sidebar */
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}

